<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Productos Registrados</h1>
    <ul>
        <% productos.forEach(producto => { %>
            <li>
                <strong><%= producto.nombre %></strong> - 
                Ref: <%= producto.referencia %> - 
                Precio: $<%= producto.precio %>
            </li>
        <% }); %>
    </ul>
</body>
</html>
